.dark {
    color: var(--white);
    background-color: var(--black);
    .hi {
        color: var(--gold1);
    }
    .link {
        color: var(--gold2);
    }

    /* -- NAVIGATION BAR -- */
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
    }

    .navigation-bar { 
        a {
        color: var(--gold3);
        transition: background-color 0.25s, color 0.25s;
        }
        a:hover {
        background-color: var(--gold1);
        color: var(--black);
        }
        .active {
        background-color: var(--gold2);
        color: var(--black);
        }
    }

/* --LANDING SECTION --*/

.landing {
    .button {
      background-color: var(--blue3);
      box-shadow: 0px 0px 10px 0px var(--blue1);
    } 
    .button:hover {
        box-shadow: 0px 0px 20px 0px var(--blue1);
    }
}

/* -- BLOG CARDS -- */
.blog-card {
    box-shadow: 3px -3px 10px 1px var(--blue1);
    background-color: var(--blue3);
}

.card-link {
    background-color: var(--blue3);
    box-shadow: 0px 0px 5px 0px var(--blue1);
}

.card-link:hover {
    box-shadow: 0px 0px 10px 0px var(--blue1);
}

/* -- FOOTER -- */
.footer {
    background-color: var(--blue3);
}
}